.navbar-item {
    height: 10%;
    vertical-align: center;
    text-decoration-color: aliceblue;
    color: #ffffff;
}

a {
    color: #ffffff;
}

.navbar {
    margin-top: 10px;
}

.inputfiled {
    border-radius: 10px;
    background-color: #ffffff;
    margin-left: 10px;
}

.middle-verticle {
    vertical-align: center;
}

.cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    max-height: 200vh;
}

.card {
    width: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.card img {
    max-width: 100%;
}

.card .text {
    padding: 0 20px 20px;
}

.card .text>button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
}

.flexibleHeader {
    position: relative;
    width: 100%;
    justify-content: center;
}

.onrightside {
    justify-items: flex-end;
}

.Topmargin {
    padding-top: 10%;
    padding-bottom: 10%;
    justify-content: center;
}

.pic {
    border-radius: 50%;
    min-width: 20vh;
    min-height: 20vh;
    width: 10%;
    height: 10%;
}

.Add-left-for-header {
    padding-left: 2%;
    padding-right: 2%;
    position: static;
    width: auto;
    justify-content: center;
}

.startfromright {
    position: absolute;
    right: 5vh;
}

.columndisplay {
    display: flex;
    flex-direction: row;
}

.fillcontainer {
    width: 100%;
}