.App {
  text-align: center;
  width: auto;
  height: auto;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: beige;
}

.App-link {
  color: #09d3ac;
}

.setrelative {
  border-top: 20vh;
  margin: auto;
  position: relative
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.card {
  max-width: 345 px
}

.media {
  height: 0;
  padding-top: 56.25%;
}